.nav{
    display:flex;
    flex-direction: row;
    gap:20px;
    margin-left:35%;
    /* background-color:rgb(249, 196, 115); */
    height:40px;
}
.nav>Link{
    text-decoration:none;
    color:red;
}